<h1>コミュニティ名</h1>
<p><input type="text" name="community"></p>
<h1>日時</h1>
<p><input type="text" name="date"></p>
<%# トップページが出来ればそこに飛ばしてー%>
<input type="button" value="コミュニティ作成" onclick="location.href='/'" />
