<div class="center jumbotron">
  <h1>レシコミ</h1>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <%= render 'shared/list' %>

  <%= link_to "自分のプロフィール", new_profile_path%>
<br>
  <%= link_to "コミュニティを作ろう！", map_path%>


</div>

