<div class="center jumbotron">
  <h1>レシコミ</h1>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <%= render 'shared/list' %>

  <%= link_to "自分のプロフィールを見るor変更する！", static_pages_mailbox_path%>
<br>
  <%= link_to "コミュニティを作ろう！", static_pages_map_path%>


</div>

