<%# TODO:このheadとmeta部分はlayoutsに切り出して移動する %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="あなたの残り物を管理するツール">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="残り物を管理するツール">
    <meta name="twitter:description" content="enpitER班の作成しているツールです">
    <title>冷蔵庫.com</title>
    <script type="text/javascript" language="javascript">
    </script>
</head>
  <%# ここまではapplication.html.erbで書かれているので削除対象 %>


  <%# TODO:レシピDBから持ってきてレンダリング %>
  <h1>〜なべ〜</h1>
  <%= image_tag 'nabe.jpg', :width => '400', :height => '300', :align => 'right' %>
  <h2>材料</h2>
  <li>牛肉</li>
  <li>ネギ</li>
  <li>シャンプー</li>
  <li>白菜</li>
  <li>きのこ</li>

<input type="button" value="確定" onclick="location.href='static_pages/community'" />
