<% if logged_in? %>
   <h1>Profiles設定</h1>
   <p>あつまれる場所を設定してください</p>

   <%= form_for @profile, :url => {:controller => :profiles, :action => :create} do |f| %>
      <%= f.submit "登録" %>
   <% end %>

   <% if @user %>
        <%= @user.name %>,
         <%= @user.email %>
   <% end  %>
<% end %>
