<body>
<p>残り物リスト</p>
  <form name="form1" action="">
    <div id="chois">
        <div id="beef">
            <li>牛肉</li>
            <div class="form-inline">
                <input id="Checkbox1" type="button" name="q1" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="kimchi">
            <li>キムチ</li>
            <div class="form-inline">
                <input id="Checkbox2" type="button" name="q2" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="cabbage">
            <li>白菜</li>
            <div class="form-inline">
                <input id="Checkbox3" type="button" name="q3" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="pork">
            <li>豚肉</li>
            <div class="form-inline">
                <input id="Checkbox4" type="button" name="q4" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="tofu">
            <li>豆腐</li>
            <div class="form-inline">
                <input id="Checkbox5" type="button" name="q5" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="mushroom">
            <li>きのこ</li>
            <div class="form-inline">
                <input id="Checkbox6" type="button" name="q6" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="chicken">
            <li>鶏肉</li>
            <div class="form-inline">
                <input id="Checkbox7" type="button" name="q7" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="naganegi">
            <li>長ネギ</li>
            <div class="form-inline">
                <input id="Checkbox8" type="button" name="q8" value="削除"><label class="checkbox-inline"></label>
            </div>
        </div>

        <div id="daikon">
            <li>大根</li>
            <div class="form-inline">
                <input id="Checkbox9" type="button" name="q9" value="削除"><label class="checkbox-inline"></label>

            </div>
        </div>



  <div id="output"></div>
  <div id="recipe"></div>
  
</body>
