<h2>残り物リスト</h2>
<div class="list_scrollbar">
<table class="food_tableList">
<% unless @items.nil? %>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.created_at.strftime('%m月%d日') %></td>
      <td><%= item.food %></td>
      <td><%= link_to "削除", items_path(user_id: @user.id), method: :delete%></td>
    </tr>
  <% end %>
<% end %>
</table>
</div>
