<h1>レシート内容の確認</h1>
<!--ここに取得したレシート内容の一覧を表示する。-->
<h2>以下のレシート情報が読み込まれました。</h2>
  <li>牛肉</li>
  <li>ネギ</li>
  <li>シャンプー</li>
  <li>きのこ</li>
<%= link_to "確認", root_path, class: "btn btn-lg btn-primary" %>
元画像<br>
<%#= image_tag @img_path, :width => '500'%>
<br>
<% if !@text.nil? %>
  <% stext = @text.split("\n") %>
  <% 
  if stext.include?("合 言十")
    bbb=stext.index("合 言十")
    stext.slice!(bbb..-1)
  end
  %>
  <tr id="saku">
  <% stext.each do |st| %>
      <td><%= st %></td>
      <td><%= link_to "削除", root_path ,class: "btn btn-lg btn-primary"%></td>
      <br>
  <% end %>
  </tr>
<% end %>
<% if !@message.nil? %>
<%= @message %>
<% end %>