<h1>レシート内容の確認</h1>
<!--ここに取得したレシート内容の一覧を表示する。-->
<h2>以下のレシート情報が読み込まれました。</h2>
  <li>牛肉</li>
  <li>ネギ</li>
  <li>シャンプー</li>
  <li>きのこ</li>
<%= link_to "確認", root_path %>
元画像<br>
<%= image_tag @img_path, :width => '500'%>
<br>
<% if @text %>
  <% fulltext=@text['responses'][0]['fullTextAnnotation']['text'] %>
  <% stext = fulltext.split("\n") %>
  <% stext.each do |st| %>
    <%= st %><br>
  <% end %>
<% end %>
<% if @message %>
<%= @message %>
<% end %>