@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: left;
}

.center h1 {
  margin-bottom: 10px;
}
