<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "レシコミ", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Home",   root_path %>
      </li>
      <li>
        <%= link_to "Log in", login_path %>
      </li>
      <li>
        <%= link_to "レシートを登録する", receipt_input_path %>
      </li>
    </ul>
  </nav>
</div>
</header>
